section {
  padding: 2rem;
  background-color: #f9eddc;
  text-align: justify;
}

.img-grafica {
  height: 100%;
  max-height: 500px; /* Ajusta el valor según el tamaño deseado */
  width: auto;
  display: block;
  margin: 0 auto;
}