html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9eddc;
}

#carouselExampleFade {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel-inner {
  width: 100vw;
  height: 100vh;
}

.carousel-item {
  width: 100vw;
  height: 100vh;
}

.carousel-item img,
.carousel-item video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  opacity: 0.7;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  background: rgba(30, 30, 30, 0.85); /* Fondo semitransparente */
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
