section {
  padding: 2rem;
  background-color: #f9eddc;
  text-align: justify;
}

/* Centra verticalmente los botones del carrusel Bootstrap */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  height: 60px; /* Ajusta el alto si lo deseas */
  width: 60px;  /* Ajusta el ancho si lo deseas */
  opacity: 1;
}

.carousel-inner {
  height: 600px; /* Ajusta la altura según tu preferencia */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background: transparent; /* Opcional: color de fondo para las franjas vacías */
}
.texto {
  font-size: 1.3rem;   /* Aumenta el tamaño */
  font-weight: bold;   /* Negrilla */
  color: #333;         /* Opcional: color de texto */
}
